In [1]:
import xml.etree.ElementTree as et

In [6]:
import pandas as pd

In [2]:
xtree = et.parse("test.xml")
xroot = xtree.getroot()

In [5]:
df_cols = ["ds_name", "id", "frame_num", "orientation", "box_h", "box_w", "box_xc", "box_yc", "appearance", "movement", "role", "context", "situation"]

In [9]:
d = {"ds_name":'ttt', "id":0, "frame_num":0, "orientation":'or', "box_h":10, "box_w":11, "box_xc":12, "box_yc":13, "appearance":"ugly", "movement":"yes", "role":"LOH", "context":"TX", "situation":"RUN"}

In [10]:
df = df.append(d, ignore_index=True)
df

,ds_name,id,frame_num,orientation,box_h,box_w,box_xc,box_yc,appearance,movement,role,context,situation
0,ttt,0,0,or,10,11,12,13,ugly,yes,LOH,TX,RUN

In [11]:
def parse_tree(root):
    df_cols = ["ds_name", "id", "frame_num", "orientation", "box_h", "box_w", "box_xc", "box_yc", "appearance", "movement", "role", "context", "situation"]
    df = pd.DataFrame(columns=df_cols)
    d = {}
    ds_name = root.attrib.get('name')
    d["ds_name"] = ds_name
    for frame in root:
        frame_num = frame.attrib.get('number')
        d["frame_num"] = frame_num

        objectlist = frame[0]
        grouplist = frame[1]
        
        for obj in objectlist:
            objectid = obj.attrib.get('id')
            d['id'] = objectid

            orientation = obj[0].text
            d['orientation'] = orientation

            box = obj[1].attrib

            box_h = box.get('h')
            d['box_h'] = box_h

            box_w = box.get('w')
            d['box_w'] = box_w

            box_xc = box.get('xc')
            d['box_xc'] = box_xc

            box_yc = box.get('yc')
            d['box_yc'] = box_yc

            appearance = obj[2].text
            d['appearance'] = appearance

            hypothesis = obj[3][0]
            movement = hypothesis[0].text
            d['movement'] = movement

            role = hypothesis[1].text
            d['role'] = role

            context = hypothesis[2].text
            d['context'] = context

            situation = hypothesis[3].text
            d['situation'] = situation

            df = df.append(d, ignore_index=True)
    return df

In [12]:
dataf = parse_tree(xroot)

In [13]:
dataf.head()

,ds_name,id,frame_num,orientation,box_h,box_w,box_xc,box_yc,appearance,movement,role,context,situation
0,WalkByShop1cor,0,0,90,43,12,114,31,appear,walking,walker,shop enter,moving
1,WalkByShop1cor,1,0,90,43,16,128,31,appear,walking,walker,shop enter,moving
2,WalkByShop1cor,2,0,90,43,18,80,42,appear,active,browser,windowshop,browsing
3,WalkByShop1cor,3,0,90,42,13,85,39,appear,active,browser,windowshop,browsing
4,WalkByShop1cor,12,0,90,51,21,105,53,appear,walking,walker,walking,moving

In [31]:
dataf.to_csv("out.csv")

In [15]:
from sqlalchemy import create_engine

In [17]:
engine = create_engine('postgresql://patrick:qwerty@localhost:5432/tracktion')

In [19]:
dataf.to_sql('test2', engine)